### Some Important Series Methods

In [1]:
# astype
# between
# clip
# drop_duplicates
# isnull
# dropna
# fillna
# isin
# apply
# copy

In [2]:
import numpy as np
import pandas as pd

In [6]:
subs = pd.read_csv('subs.csv').squeeze()
type(subs)
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [9]:
vk = pd.read_csv('kohli_ipl.csv',index_col = 'match_no').squeeze()
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [11]:
movies = pd.read_csv('bollywood.csv',index_col='movie').squeeze()
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [14]:
# astype -> change the data type of the data 
import sys
sys.getsizeof(vk)

3456

In [16]:
sys.getsizeof(vk.astype('int16'))

2166

In [20]:
# between -> tells ki ek range mai items exist karte hai ya ni and it returns the boolean series

vk[vk.between(51,99)].size

43

In [22]:
# clip -> clip the vlaues in given range
subs.clip(100,200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [27]:
# drop_duplicates -> removes the duplicates
temp = pd.Series([1,1,1,2,3,3,4,4,5,5])
temp

0    1
1    1
2    1
3    2
4    3
5    3
6    4
7    4
8    5
9    5
dtype: int64

In [29]:
temp.drop_duplicates(keep='last')

2    1
3    2
5    3
7    4
9    5
dtype: int64

In [31]:
movies.drop_duplicates()

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Sssshhh...                              Tanishaa Mukerji
Rules: Pyaar Ka Superhit Formula                  Tanuja
Right Here Right Now (film)                        Ankit
Talaash: The Hunt Begins...                Rakhee Gulzar
The Pink Mirror                          Edwin Fernandes
Name: lead, Length: 566, dtype: object

In [33]:
temp.duplicated().sum()

5

In [35]:
vk.duplicated().sum()

137

In [37]:
temp = pd.Series([1,2,3,np.nan,5,6,np.nan,8,np.nan,10])
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [38]:
temp.size

10

In [39]:
temp.count()

7

In [41]:
# is null -> tells how many null values present in a data
vk.isnull().sum()

0

In [42]:
temp.isnull().sum()

3

In [43]:
# dropna -> remove all missing values
temp.dropna()

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [45]:
# fillna -> fill missing values
temp.fillna(temp.mean())

0     1.0
1     2.0
2     3.0
3     5.0
4     5.0
5     6.0
6     5.0
7     8.0
8     5.0
9    10.0
dtype: float64

In [49]:
# isin -> check multiple thing at a time in a series
vk[(vk == 49) | (vk == 99)]

match_no
82    99
86    49
Name: runs, dtype: int64

In [53]:
vk[vk.isin([48,99,100])]

match_no
82      99
108     48
120    100
153     48
164    100
179     48
203     48
Name: runs, dtype: int64

In [54]:
# apply -> help to apply a custom logic on a series
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [58]:
movies.apply(lambda x:x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [59]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [60]:
subs.mean()

135.64383561643837

In [61]:
subs.apply(lambda x:'good day' if x > subs.mean()else 'bad day')

0       bad day
1       bad day
2       bad day
3       bad day
4       bad day
         ...
360    good day
361    good day
362    good day
363    good day
364    good day
Name: Subscribers gained, Length: 365, dtype: object

In [62]:
# copy

In [72]:
vk

match_no
1      100
2       23
3       13
4       12
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64

In [71]:
new = vk.head()

In [70]:
new

match_no
1    100
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

In [68]:
new[1] = 100

In [69]:
new

match_no
1    100
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

In [75]:
new = vk.head().copy()

In [76]:
new[1] = 1

In [77]:
new

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [78]:
vk

match_no
1      100
2       23
3       13
4       12
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64