### What is Pandas
Pandas is a fast, powerful,flexible and easy to use open source data analysis and manipulation tool, bulit on top of the python programming language

### Pandas Series
A Pandas Series is like a column in a table. it is a 1-D array holding data of any type

### Importing Pandas

In [7]:
import pandas as pd
import numpy as np

### series from lists

In [8]:
# string
country = ['India','china','USA','Russia','japan','UK']
name = pd.Series(country)
name

0     India
1     china
2       USA
3    Russia
4     japan
5        UK
dtype: object

In [28]:
# integers
marks = [12,133,125,56]
pd.Series(marks)

0     12
1    133
2    125
3     56
dtype: int64

In [29]:
# Custom Index
marks = [56,49,50,14]
subject = ['Hindi','English','science','math']

pd.Series(marks,index = subject)

Hindi      56
English    49
science    50
math       14
dtype: int64

In [30]:
# setting a name
marks = pd.Series(marks,index = subject,name = 'Nitin ke marks ')
marks

Hindi      56
English    49
science    50
math       14
Name: Nitin ke marks , dtype: int64

### Series from dict

In [31]:
marks = {
    'math':100,
    'english':56,
    'hindi':67,
    'science':89
}
marks_series = pd.Series(marks)
marks_series

math       100
english     56
hindi       67
science     89
dtype: int64

### Series Attributes

In [32]:
# size
marks_series.size

4

In [33]:
# dtype
marks_series.dtype

dtype('int64')

In [34]:
# name
marks_series.name

In [35]:
# is_unique
marks_series.is_unique
pd.Series([1,2,3,3,4]).is_unique

False

In [36]:
# index
marks_series.index

Index(['math', 'english', 'hindi', 'science'], dtype='object')

In [37]:
# values
marks_series.values

array([100,  56,  67,  89], dtype=int64)

### series using read_CSV

In [38]:
# with one col
subs = pd.read_csv('subs.csv').squeeze("columns")
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [62]:
# with 2 cols
vk = pd.read_csv('kohli_ipl.csv', index_col='match_no').squeeze('columns')
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [105]:
movies = pd.read_csv('bollywood.csv',index_col='movie').squeeze("columns")
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

### Series methods

In [ ]:
# head and tail
subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [40]:
vk.head(3)

match_no
1     1
2    23
3    13
Name: runs, dtype: int64

In [41]:
vk.tail()

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [44]:
# sample
movies.sample(5)

movie
Bhoot (film)                    Ajay Devgn
Chhodon Naa Yaar           Jimmy Sheirgill
Sarkar (2005 film)        Amitabh Bachchan
Gold (2018 film)              Akshay Kumar
Dobaara: See Your Evil        Adil Hussain
Name: lead, dtype: object

In [50]:
# value_counts -> movies
movies.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

In [55]:
# sort_values -> inplace
vk.sort_values(ascending=False).head(1).values[0]

113

In [56]:
vk.sort_values(ascending=False)

match_no
128    113
126    109
123    108
164    100
120    100
      ...
93       0
211      0
130      0
8        0
135      0
Name: runs, Length: 215, dtype: int64

In [ ]:

vk = vk.sort_values()
vk

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [61]:
vk

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [64]:
# sort_index -> inplace -> movies
movies.sort_index()

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

### Series Maths Methods

In [70]:
# count  # does not count missing value like size
vk.count()

215

In [73]:
# sum -> product
subs.sum()
subs.product()

0

In [78]:
# mean  -> median -> mode -> std -> var
subs.mean()
print(vk.median())
print(movies.mode())
print(subs.std())
print(vk.var())

24.0
0    Akshay Kumar
Name: lead, dtype: object
62.6750230372527
688.0024777222343

In [80]:
# min/max
subs.max()

396

In [81]:
# describe
vk.describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

In [82]:
subs.describe()

count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64

### Series Indexing

In [90]:
# integer indexing
x = pd.Series([12,13,14,15,16,17,18,19,20])
x[0]

12

In [91]:
# negative indexing
x[-1]

KeyError: -1

In [95]:
movies[0]

C:\Users\HP\AppData\Local\Temp\ipykernel_2692\3901301928.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  movies[0]

'Vicky Kaushal'

In [96]:
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [99]:
movies['Uri: The Surgical Strike']

'Vicky Kaushal'

In [100]:
movies[-1]

C:\Users\HP\AppData\Local\Temp\ipykernel_2692\2731571422.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  movies[-1]

'Akshay Kumar'

In [102]:
movies.tail(1)

movie
Awara Paagal Deewana    Akshay Kumar
Name: lead, dtype: object

In [103]:
# slicing
vk[5:16]

match_no
6      9
7     34
8      0
9     21
10     3
11    10
12    38
13     3
14    11
15    50
16     2
Name: runs, dtype: int64

In [104]:
# negative slicing
vk[-5:]

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [106]:
movies[-5:]

movie
Hum Tumhare Hain Sanam      Shah Rukh Khan
Aankhen (2002 film)       Amitabh Bachchan
Saathiya (film)               Vivek Oberoi
Company (film)                  Ajay Devgn
Awara Paagal Deewana          Akshay Kumar
Name: lead, dtype: object

In [107]:
# fancy indexing
vk[[1,3,4,5]]

match_no
1     1
3    13
4    12
5     1
Name: runs, dtype: int64

In [109]:
# indexing with labels -> fancy indexing
movies['Awara Paagal Deewana']

'Akshay Kumar'

### Editing Series

In [117]:
# using indexing 
marks_series[1] = 100
marks_series

C:\Users\HP\AppData\Local\Temp\ipykernel_2692\1523408178.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  marks_series[1] = 100

math       100
english    100
hindi       67
science     89
dtype: int64

In [120]:
# what if an index does not exist
marks_series['sst'] = 90
marks_series

math       100
english    100
hindi       67
science     89
sst         90
dtype: int64

In [124]:
# slicing
marks_series[1:] = 100
marks_series

math       100
english    100
hindi      100
science    100
sst        100
dtype: int64

In [126]:
# fancy indexing
marks_series[[0,1,3]] = [0,0,0]
marks_series

C:\Users\HP\AppData\Local\Temp\ipykernel_2692\135934795.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  marks_series[[0,1,3]] = [0,0,0]

math         0
english      0
hindi      100
science      0
sst        100
dtype: int64

In [129]:
# using index label
marks_series['sst'] = '90'
marks_series

math         0
english      0
hindi      100
science      0
sst         90
dtype: object

### Copy and Views

### Series with Python Functionalities

In [140]:
# len/type/dir/sorted/max/min
print(len(subs))

365

In [131]:
# type conversion

In [132]:
# membership operators

In [133]:
# looping

In [134]:
# Arithmetic Operators

In [135]:
# Relational Operators

### Boolean indexing on Series

In [136]:
# Find no of 50's and 100's scored by kholi

In [137]:
# find number of ducks

In [138]:
# count number of day when I had more than 200 subs a day

In [139]:
# find actors who have done  more than 20 movies

### Plotting Graphs on Series