### What is Pandas
Pandas is a fast, powerful,flexible and easy to use open source data analysis and manipulation tool, bulit on top of the python programming language

### Pandas Series
A Pandas Series is like a column in a table. it is a 1-D array holding data of any type

### Importing Pandas

In [1]:
import pandas as pd
import numpy as np

### series from lists

+ series conatain two things 1. value 2. index
+ In 99% cases pandas call string as a object

In [2]:
# string
country = ['India','china','USA','Russia','japan','UK']
name = pd.Series(country)
name

0     India
1     china
2       USA
3    Russia
4     japan
5        UK
dtype: object

In [37]:
# integers
marks = [12,133,125,56]
marks = pd.Series(marks)
marks

0     12
1    133
2    125
3     56
dtype: int64

In [33]:
# Custom Index
marks = [56,49,50,14]
subject = ['Hindi','English','science','math']

pd.Series(marks,index = subject)

Hindi      56
English    49
science    50
math       14
dtype: int64

In [6]:
# setting a name
marks = pd.Series(marks,index = subject,name = 'Nitin ke marks ')
marks

Hindi       12
English    133
science    125
math        56
Name: Nitin ke marks , dtype: int64

### Series from dict

In [7]:
marks = {
    'math':100,
    'english':56,
    'hindi':67,
    'science':89
}
marks_series = pd.Series(marks)
marks_series

math       100
english     56
hindi       67
science     89
dtype: int64

### Series Attributes

In [9]:
# size -> tells how many item in a series
marks_series.size

4

In [39]:
marks

0     12
1    133
2    125
3     56
dtype: int64

In [10]:
# dtype -> tell the data type of items inside the series
marks_series.dtype

dtype('int64')

In [11]:
# name -> tells the name of series object
marks_series.name

In [12]:
# is_unique -> tells the each item of series is unique or not
marks_series.is_unique
pd.Series([1,2,3,3,4]).is_unique

False

In [14]:
# index -> show all the indexs and it gives the index object
marks_series.index

Index(['math', 'english', 'hindi', 'science'], dtype='object')

In [16]:
# values -> show all the values in a numpy array
marks_series.values

array([100,  56,  67,  89], dtype=int64)

### series using read_CSV

+ by default pd.read_csv store data in data frame format not a series

In [51]:
# with one col
subs = pd.read_csv('subs.csv').squeeze()
type(subs)
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [105]:
a = pd.read_csv('subs.csv').squeeze()
type(a)
# <class 'pandas.core.series.Series'> -> ✅ "This object is of type Series, defined inside pandas."
a.flags

In [58]:
# with 2 cols
vk = pd.read_csv('kohli_ipl.csv', index_col='match_no').squeeze()
type(vk)
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [82]:
movies = pd.read_csv('bollywood.csv',index_col='movie').squeeze()
type(movies)
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

### Series methods

### Important points
+ **`pd.to_numeric()` converts values to numbers, handling non-numeric data with `errors='coerce'` to replace them with NaN.**
+ ✅ What errors='coerce' does:
It tells pandas:

"If you can't convert a value to a number, just make it NaN instead of throwing an error."

In [63]:
# head and tail -> gives you the preview of data
subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [89]:
vk.sample()

match_no
136    10
Name: runs, dtype: int64

In [ ]:
# last five rows
vk.tail()

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [104]:
# sample -> randomly one row -> use when there is a byass in your data
movies.sample()
movies.flags

In [69]:
# value_counts -> movies -> tells the frequency of each item in data
movies.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

+ ✅ One-line short note:
You can’t sort a Series in-place if it’s a view — use .copy() first or assign the result back.

+ ✅ A copy, in contrast:
Is a full independent duplicate of the data. You can safely sort, modify, or delete it without affecting the original.

+ A "view" is a reference to original data — it shares memory and limits in-place changes to avoid accidental edits.

In [103]:
a = a.copy()
a.sort_values(ascending=False, inplace=True)
a
print(a.flags)

<Flags(allows_duplicate_labels=True)>

In [ ]:
# sort_values -> inplace -> sort values
vk.sort_values(ascending=False).head(1).values[0]
# it's called method chaining

113

In [56]:
vk.sort_values(ascending=False)

match_no
128    113
126    109
123    108
164    100
120    100
      ...
93       0
211      0
130      0
8        0
135      0
Name: runs, Length: 215, dtype: int64

In [ ]:

vk = vk.sort_values()
vk

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

+ use inplace = True for permanent changes

In [61]:
vk

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [64]:
# sort_index -> inplace -> movies
movies.sort_index()

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

### Series Maths Methods

In [70]:
# count  # does not count missing value like size
vk.count()

215

In [73]:
# sum -> product
subs.sum()
subs.product()

0

In [78]:
# mean  -> median -> mode -> std -> var
subs.mean()
print(vk.median())
print(movies.mode())
print(subs.std())
print(vk.var())

24.0
0    Akshay Kumar
Name: lead, dtype: object
62.6750230372527
688.0024777222343

In [80]:
# min/max
subs.max()

396

In [81]:
# describe
vk.describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

In [82]:
subs.describe()

count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64

### Series Indexing

In [90]:
# integer indexing
x = pd.Series([12,13,14,15,16,17,18,19,20])
x[0]

12

In [91]:
# negative indexing
x[-1]

KeyError: -1

In [95]:
movies[0]

C:\Users\HP\AppData\Local\Temp\ipykernel_2692\3901301928.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  movies[0]

'Vicky Kaushal'

In [96]:
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [99]:
movies['Uri: The Surgical Strike']

'Vicky Kaushal'

In [100]:
movies[-1]

C:\Users\HP\AppData\Local\Temp\ipykernel_2692\2731571422.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  movies[-1]

'Akshay Kumar'

In [102]:
movies.tail(1)

movie
Awara Paagal Deewana    Akshay Kumar
Name: lead, dtype: object

In [103]:
# slicing
vk[5:16]

match_no
6      9
7     34
8      0
9     21
10     3
11    10
12    38
13     3
14    11
15    50
16     2
Name: runs, dtype: int64

In [104]:
# negative slicing
vk[-5:]

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [106]:
movies[-5:]

movie
Hum Tumhare Hain Sanam      Shah Rukh Khan
Aankhen (2002 film)       Amitabh Bachchan
Saathiya (film)               Vivek Oberoi
Company (film)                  Ajay Devgn
Awara Paagal Deewana          Akshay Kumar
Name: lead, dtype: object

In [107]:
# fancy indexing
vk[[1,3,4,5]]

match_no
1     1
3    13
4    12
5     1
Name: runs, dtype: int64

In [109]:
# indexing with labels -> fancy indexing
movies['Awara Paagal Deewana']

'Akshay Kumar'

### Editing Series

In [117]:
# using indexing 
marks_series[1] = 100
marks_series

C:\Users\HP\AppData\Local\Temp\ipykernel_2692\1523408178.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  marks_series[1] = 100

math       100
english    100
hindi       67
science     89
dtype: int64

In [120]:
# what if an index does not exist
marks_series['sst'] = 90
marks_series

math       100
english    100
hindi       67
science     89
sst         90
dtype: int64

In [124]:
# slicing
marks_series[1:] = 100
marks_series

math       100
english    100
hindi      100
science    100
sst        100
dtype: int64

In [126]:
# fancy indexing
marks_series[[0,1,3]] = [0,0,0]
marks_series

C:\Users\HP\AppData\Local\Temp\ipykernel_2692\135934795.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  marks_series[[0,1,3]] = [0,0,0]

math         0
english      0
hindi      100
science      0
sst        100
dtype: int64

In [129]:
# using index label
marks_series['sst'] = '90'
marks_series

math         0
english      0
hindi      100
science      0
sst         90
dtype: object

### Copy and Views

### Series with Python Functionalities

In [140]:
# len/type/dir/sorted/max/min
print(len(subs))

365

In [131]:
# type conversion

In [132]:
# membership operators

In [133]:
# looping

In [134]:
# Arithmetic Operators

In [135]:
# Relational Operators

### Boolean indexing on Series

In [136]:
# Find no of 50's and 100's scored by kholi

In [137]:
# find number of ducks

In [138]:
# count number of day when I had more than 200 subs a day

In [139]:
# find actors who have done  more than 20 movies

### Plotting Graphs on Series

✅ Short Notes on Series, Views, and Data Type Handling in Pandas
🟦 pd.Series()
Creates a 1D labeled array (like a column).

python
Copy
Edit
pd.Series([1, 2, 3])
🟦 pd.to_numeric(series, errors='coerce')
Converts data to numbers; invalid entries become NaN with 'coerce'.

Use when cleaning mixed-type data (e.g., strings + numbers).

🟦 errors='coerce'
Replaces non-numeric values (like 'Python') with NaN instead of crashing.

🟦 .astype(dtype)
Forcefully changes the data type of a Series.

python
Copy
Edit
series.astype(float)
🟦 Series vs View vs Copy
A view is a reference to original data (shared memory, no independent changes).

A copy is a full duplicate (safe to modify).

Views might block in-place edits like .sort_values(inplace=True)

🟦 How to Detect a View:
python
Copy
Edit
series.flags  →  OWDATA: False  →  it's a view
🟦 To avoid issues, always:
python
Copy
Edit
series = series.copy()
Ensures safe in-place operations (like sorting).

🟦 Example of View Error:
python
Copy
Edit
a = pd.read_csv('file.csv').squeeze()
a.sort_values(inplace=True)
# ❌ Error: must copy before in-place sort
✅ Fix:
python
Copy
Edit
a = a.copy()
a.sort_values(inplace=True)
✅ Final One-Liner Summary:
Use .copy() to avoid view issues, .to_numeric(errors='coerce') to clean data, and .astype() to set types — always check for views when modifying Series in-place.