In [118]:
import numpy as np
import pandas as pd

### Some important Series Methods
+ astype
+ between
+ clip
+ drop_duplicates
+ isnull
+ dropna
+ fillna
+ isin
+ apply
+ copy

In [119]:
subs = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\Desktop\python-libraries\Data\subs.csv').squeeze()

In [120]:
vk = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\Desktop\python-libraries\Data\kohli_ipl.csv',index_col='match_no').squeeze()

In [121]:
movies = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\Desktop\python-libraries\Data\bollywood.csv',index_col='movie').squeeze()

In [122]:
#astype -> data ka type change kar deta hai
import sys
sys.getsizeof(vk)

3472

In [123]:
sys.getsizeof(vk.astype('int32'))

2612

In [124]:
# between -> ek range ke andar value exist karte hai ya ni ye batata hai , ek boolean series return karta hai
vk[vk.between(51,99)].size

43

In [125]:
# clip -> given range mai clip kar deta hai 
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [126]:
subs.clip(100,200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [127]:
# drop_duplicates -> duplicate values ko drop kar deta hai 
temp = pd.Series([1,1,2,2,3,3,4,4])
temp

0    1
1    1
2    2
3    2
4    3
5    3
6    4
7    4
dtype: int64

In [128]:
temp.drop_duplicates(keep='last')

1    1
3    2
5    3
7    4
dtype: int64

In [129]:
movies.size

1500

In [130]:
movies.drop_duplicates()

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Sssshhh...                              Tanishaa Mukerji
Rules: Pyaar Ka Superhit Formula                  Tanuja
Right Here Right Now (film)                        Ankit
Talaash: The Hunt Begins...                Rakhee Gulzar
The Pink Mirror                          Edwin Fernandes
Name: lead, Length: 566, dtype: object

In [131]:
temp.duplicated().sum()  # tells ki data mai kitne total duplicate value hai

np.int64(4)

In [132]:
vk.duplicated().sum()

np.int64(137)

In [133]:
# isnull -> tells ki data   mai kitne total missing value hai
temp = pd.Series([1,2,3,np.nan,5,6,np.nan,8,np.nan,10])
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [134]:
temp.size

10

In [135]:
temp.count()

np.int64(7)

In [136]:
vk.isnull().sum()

np.int64(0)

In [137]:
temp.isnull().sum()

np.int64(3)

In [138]:
# dropna -> missing value ko remove kardeta hai
temp.dropna()

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [139]:
# fillna -> missing value ko fill kar deta hai
temp.fillna(0)

0     1.0
1     2.0
2     3.0
3     0.0
4     5.0
5     6.0
6     0.0
7     8.0
8     0.0
9    10.0
dtype: float64

In [140]:
temp.fillna(temp.mean())

0     1.0
1     2.0
2     3.0
3     5.0
4     5.0
5     6.0
6     5.0
7     8.0
8     5.0
9    10.0
dtype: float64

In [141]:
# isin -> check multiple things in a series
vk[vk.isin([48,99])]

match_no
82     99
108    48
153    48
179    48
203    48
Name: runs, dtype: int64

In [142]:
# aaply -> ek series ke upar ek custom logic apply karne mai help  karta hai

In [143]:
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [144]:
movies.apply(lambda x:x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [145]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [146]:
subs.mean()

np.float64(135.64383561643837)

In [147]:
subs.apply(lambda x:'good day' if x> subs.mean() else 'bad day')

0       bad day
1       bad day
2       bad day
3       bad day
4       bad day
         ...
360    good day
361    good day
362    good day
363    good day
364    good day
Name: Subscribers gained, Length: 365, dtype: object

In [148]:
# copy -> data ki copy create kar deta hai

In [149]:
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [150]:
new = vk.head()

In [151]:
new

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [152]:
new[1] = 200

In [153]:
new

match_no
1    200
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

In [154]:
vk

match_no
1      200
2       23
3       13
4       12
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64

In [155]:
new = vk.head().copy()

In [156]:
new

match_no
1    200
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

In [157]:
new[1] = 500

In [158]:
new

match_no
1    500
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

In [159]:
vk

match_no
1      200
2       23
3       13
4       12
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64